In [2]:
#kernel has been restarted, activate all blocks one by one, starting from this one
import re
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1374,tt0365737,50000000,94000000,Syriana,George Clooney|Matt Damon|Jeffrey Wright|Chris...,Stephen Gaghan,Everything is connected.,The Middle Eastern oil industry is the backdro...,128,Drama|Thriller,Section Eight|Warner Bros.|Participant Media|F...,11/23/2005,6.0,2005
1243,tt2140373,35000000,112544580,Saving Mr. Banks,Emma Thompson|Tom Hanks|Paul Giamatti|Colin Fa...,John Lee Hancock,"Where her book ended, their story began.",Author P.L. Travers travels from London to Hol...,125,Comedy|Drama|History,Walt Disney Pictures|BBC Films|Ruby Films|Esse...,11/16/2013,7.3,2013
131,tt1840309,85000000,288747895,Divergent,Shailene Woodley|Theo James|Kate Winslet|Miles...,Neil Burger,What makes you different makes you dangerous.,In a world divided into factions based on pers...,139,Action|Science Fiction|Thriller,Summit Entertainment|Red Wagon Entertainment,3/14/2014,6.9,2014
267,tt1067106,200000000,325233863,A Christmas Carol,Gary Oldman|Jim Carrey|Steve Valentine|Daryl S...,Robert Zemeckis,Season's Greedings,Miser Ebenezer Scrooge is awakened on Christma...,96,Animation|Drama,Walt Disney|ImageMovers,11/4/2009,6.6,2009
1143,tt0329575,87000000,148336445,Seabiscuit,Jeff Bridges|David McCullough|Chris Cooper|Tob...,Gary Ross,The hopes of a nation rode on a long shot.,True story of the undersized Depression-era ra...,141,Drama|History,Universal Pictures|Spyglass Entertainment|The ...,7/22/2003,6.4,2003

In [414]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#actually i was perfectly fine with string
#however, for the sake of learning, here you are
#but don't unmute this code.

# from datetime import datetime
# data['release_date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

# Создание колонки Прибыль = сборы - затраты
data['profit'] = data['revenue'] - data['budget']


#разделение значений столбца 'genres' пожанрово
def genre_spl(s):
    s = s.split("|")
    return s

data['genres'] = data['genres'].apply(genre_spl)

# переводим значение колонки 'director' в список
def director_spl(d):
    d = d.split('|')
    return d

data['director'] = data['director'].apply(director_spl)

# а теперь актеров
def actor_spl(e):
    e = e.split('|')
    return e

data['cast'] = data['cast'].apply(actor_spl)


# а теперь дату выхода другим методом (как он работает?)
#Честно говоря, причесывая файл, не могу вспомнить, а в чем вопрос-то
#Разве что меня удивляет, что оно само без всяких apply раз, и применило сплит ко всем строкам
#А, может быть меня интересовало более глубокое понимание, что это за .str - откуда, что за тип объекта(?)?
data['release_date'] = data['release_date'].str.split('/')

#Новый столбец - только месяц выхода фильма
data['release_month'] = data['release_date'].apply(lambda x: x[0])

#Добавляю комментарий со значком + ко всем последующим ответам
#Добавил - двадцать семь плюсов.

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [383]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [416]:
# тут пишем ваш код для решения данного вопроса:
bigst_budg = data[data['budget'] == data['budget'].max()]
bigst_budg

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000,5

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [382]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [417]:
longst = data[data['runtime'] == data['runtime'].max()]
longst

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [418]:
shortst = data[data['runtime'] == data['runtime'].min()]
shortst

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]",Walt Disney Pictures|Walt Disney Animation Stu...,"[4, 13, 2011]",6.8,2011,-15540000,4

In [384]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [419]:
aver_runtime = data['runtime'].mean()
aver_runtime

109.6585494970884

In [385]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [420]:
median_runtime = data['runtime'].median()
median_runtime

107.0

In [386]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [421]:
# лучше код получения столбца profit вынести в Предобработку что в начале
most_profit = data[data['profit'] == data.profit.max()]
most_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,"[12, 10, 2009]",7.1,2009,2544505847,12

In [387]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [422]:
min_profit = data[data['profit'] == data.profit.min()]
min_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,7

In [ ]:
answers['7']  = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [423]:
profitable = data[data.profit > 0]
len(profitable)

1478

In [388]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [424]:
films_08 = data[data['release_year'] == 2008]
films_08.groupby('profit').max()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month
profit,,,,,,,,,,,,,,,
-80445998,tt0455824,130000000,49554002,Australia,"[Nicole Kidman, Hugh Jackman, Essie Davis, Dav...",[Baz Luhrmann],Welcome to Australia!,"Set in northern Australia before World War II,...",165,[Drama],Bazmark Films|Ingenious Film Partners|Twentiet...,"[11, 18, 2008]",6.3,2008,11
-42966317,tt0462465,50000000,7033683,Outlander,"[Jim Caviezel, Sophia Myles, Jack Huston, Ron ...",[Howard McCain],It destroyed his world. He won't let it destro...,"During the reign of the Vikings, a man from an...",115,"[Fantasy, Action, Science Fiction]",Ascendant Pictures|Rising Star|VIP Medienfonds...,"[4, 24, 2008]",6.0,2008,4
-37130952,tt0970411,55000000,17869048,City of Ember,"[Saoirse Ronan, Harry Treadaway, Mary Kay Plac...",[Gil Kenan],Escape is the only option,"For generations, the people of the City of Emb...",90,"[Adventure, Family, Fantasy]",Playtone|Walden Media,"[10, 7, 2008]",6.1,2008,10
-30206504,tt0469903,40000000,9793496,The Express,"[Rob Brown, Dennis Quaid, Darrin Henson, Charl...",[Gary Fleder],He changed our country... one yard at a time.,"Based on the incredible true story, The Expres...",130,[Drama],Davis Entertainment|Relativity Media|IDEA Film...,"[10, 10, 2008]",7.1,2008,10
-26054234,tt0811080,120000000,93945766,Speed Racer,"[Emile Hirsch, Christina Ricci, Matthew Fox, S...","[Lana Wachowski, Lilly Wachowski]",Go!,Speed Racer is the tale of a young and brillia...,135,"[Family, Action, Science Fiction]",Village Roadshow Pictures|Studio Babelsberg|An...,"[5, 9, 2008]",5.6,2008,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474029371,tt0448157,150000000,624029371,Hancock,"[Will Smith, Charlize Theron, Jason Bateman, J...",[Peter Berg],Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,"[Fantasy, Action]",Columbia Pictures|Weed Road Pictures|Forward P...,"[7, 1, 2008]",6.0,2008,7
501744560,tt0441773,130000000,631744560,Kung Fu Panda,"[Jack Black, Dustin Hoffman, Angelina Jolie, J...","[Mark Osborne, John Stevenson]",Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,"[Animation, Family]",DreamWorks Animation,"[6, 4, 2008]",6.8,2008,6
557841637,tt0795421,52000000,609841637,Mamma Mia!,"[Meryl Streep, Pierce Brosnan, Amanda Seyfried...",[Phyllida Lloyd],Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,"[Comedy, Romance]",Universal Pictures|Internationale Filmprodukti...,"[6, 30, 2008]",6.2,2008,6
601636033,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,"[Harrison Ford, Cate Blanchett, Shia LaBeouf, ...",[Steven Spielberg],The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,"[Adventure, Action]",Lucasfilm|Paramount Pictures,"[5, 21, 2008]",5.6,2008,5
816921825,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]",DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,7

In [389]:
answers['9']  = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [425]:
films_12_14 = data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)] 
#почему-то поставить двойное неравенство программа не дала
films_12_14.sort_values(by = 'profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,7
1214,tt0790736,130000000,61648500,R.I.P.D.,"[Jeff Bridges, Ryan Reynolds, Kevin Bacon, Ste...",[Robert Schwentke],To protect and serve the living,A recently slain cop joins a team of undead po...,96,"[Fantasy, Action, Comedy, Crime]",Universal Pictures|Original Film|Dark Horse En...,"[7, 18, 2013]",5.3,2013,-68351500,7
1007,tt1374992,60000000,8106475,Upside Down,"[Kirsten Dunst, Jim Sturgess, Timothy Spall, J...",[Juan Diego Solanas],Two worlds. One future.,In an alternate universe where twinned worlds ...,104,"[Romance, Science Fiction, Drama, Fantasy]",Onyx Films|Studio 37|Jouror Productions|France...,"[9, 27, 2012]",6.1,2012,-51893525,9
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,"[Lea Michele, Dan Aykroyd, Patrick Stewart, Hu...",[Dan St. Pierre],There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,"[Animation, Music, Family]",Prana Animation Studios|Summertime Entertainment,"[6, 13, 2013]",6.1,2013,-51337973,6
1235,tt1308729,55000000,9489829,Bullet to the Head,"[Sylvester Stallone, Sung Kang, Sarah Shahi, A...",[Walter Hill],Revenge Never Gets Old.,"After watching their respective partners die, ...",92,"[Action, Crime, Thriller]",Dark Castle Entertainment|After Dark Films|IM ...,"[1, 31, 2013]",5.2,2013,-45510171,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,"[Steve Carell, Kristen Wiig, Benjamin Bratt, M...","[Pierre Coffin, Chris Renaud]",Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,"[Animation, Comedy, Family]",Universal Pictures|Illumination Entertainment,"[6, 25, 2013]",7.0,2013,894761885,6
974,tt1074638,200000000,1108561013,Skyfall,"[Daniel Craig, Judi Dench, Javier Bardem, Ralp...",[Sam Mendes],Think on your sins.,When Bond's latest assignment goes gravely wro...,143,"[Action, Adventure, Thriller]",Columbia Pictures,"[10, 25, 2012]",6.8,2012,908561013,10
1180,tt1300854,200000000,1215439994,Iron Man 3,"[Robert Downey Jr., Gwyneth Paltrow, Guy Pearc...",[Shane Black],Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,"[Action, Adventure, Science Fiction]",Marvel Studios,"[4, 18, 2013]",6.9,2013,1015439994,4
1177,tt2294629,150000000,1274219009,Frozen,"[Kristen Bell, Idina Menzel, Jonathan Groff, J...","[Chris Buck, Jennifer Lee]",Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,"[Animation, Adventure, Family]",Walt Disney Pictures|Walt Disney Animation Stu...,"[11, 27, 2013]",7.5,2013,1124219009,11
970,tt0848228,220000000,1519557910,The Avengers,"[Robert Downey Jr., Chris Evans, Mark Ruffalo,...",[Joss Whedon],Some assembly required.,When an unexpected enemy emerges and threatens...,143,"[Science Fiction, Action, Adventure]",Marvel Studios,"[4, 25, 2012]",7.3,2012,1299557910,4

In [390]:
answers['10']  = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [4]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
c = Counter()
for list_of_genres in data['genres']:
    for genre in list_of_genres:
        c[genre] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

In [391]:
answers['11'] = '3. Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [427]:
profitable = data[data['profit'] > 0]
d = Counter()
for list_of_genres in profitable['genres']:
    for genre in list_of_genres:
        d[genre] += 1
print(d)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

In [392]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [428]:
director_profit = {}
for director, profit in zip(data['director'], data['profit']):
    for name in director:
        director_profit.setdefault(name, 0)
        director_profit[name] += profit
dir_prof_ser = pd.Series(director_profit)
dir_prof_ser.sort_values(ascending = False)

Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Jack Sholder          -75171919
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Length: 997, dtype: int64

In [393]:
answers['13'] = '5.Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [429]:
action_data = data[data['genres'].str.contains('Action', regex=False) == True]
def director_action_count(line, diction):
    for director in line['director']:
        if director in diction:
            diction[director] += 1
        else:
            diction[director] = 1
        return diction
diction = {}
result = action_data.apply(director_action_count, diction = diction, axis = 1)
ser = pd.Series(result[0]) #[0] - это костыль, задал вопрос в слак, жду ответа.
ser.sort_values()

Colin Trevorrow       1
Joel Schumacher       1
Tom Dey               1
Michael Apted         1
Roger Michell         1
                     ..
Ridley Scott          6
Antoine Fuqua         6
Paul W.S. Anderson    7
Michael Bay           7
Robert Rodriguez      9
Length: 341, dtype: int64

In [394]:
answers['14']  = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [430]:
data_2012 = data[data['release_year'] == 2012]
#data_2012['cast']
expl_data_2012 = data_2012.explode('cast')
gr_data_2012 = expl_data_2012.groupby(['cast'])['revenue'].sum()
gr_data_2012.sort_values()

cast
Nicolas Cage            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Danny Huston            2106557
Jason Bateman           3428048
                        ...
Robert Downey Jr.    1519557910
Chris Evans          1519557910
Anne Hathaway        1522851057
Denis Leary          1629460639
Chris Hemsworth      2027450773
Name: revenue, Length: 466, dtype: int64

In [395]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [431]:
#т.е бюджет выше среднего среди значений в нашем файле.
high_budget = data[data['budget'] > data['budget'].mean()]
expl_h_r = high_budget.explode('cast')
expl_h_r['cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Leslie Bibb           1
Kathleen Turner       1
Julie Kavner          1
Omar Sharif           1
Richard Kind          1
Name: cast, Length: 1505, dtype: int64

In [396]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [432]:
cage_data = data[data['cast'].str.contains('Nicolas Cage', regex = False) == True]
expl_genres_cage_data = cage_data.explode('genres')
expl_genres_cage_data['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [397]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [433]:
param_films = data[data['production_companies'].str.contains('Paramount Pictures', regex = False) == True]
param_films.sort_values('profit')

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures|Intermedia Films|National G...,"[7, 19, 2002]",6.0,2002,-64831034,7
1123,tt0300556,80000000,19480739,Timeline,"[Paul Walker, Frances O'Connor, Gerard Butler,...",[Richard Donner],They had to travel into the past to save the f...,A group of archaeological students become trap...,116,"[Action, Adventure, Science Fiction]",Paramount Pictures|Donners' Company|Mutual Fil...,"[11, 26, 2003]",5.1,2003,-60519261,11
1722,tt0435705,70000000,18211013,Next,"[Nicolas Cage, Julianne Moore, Jessica Biel, T...",[Lee Tamahori],"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,"[Action, Science Fiction, Thriller]",Paramount Pictures|Virtual Studios|Revolution ...,"[4, 24, 2007]",5.9,2007,-51788987,4
1623,tt0375173,60000000,13395939,Alfie,"[Jude Law, Marisa Tomei, Omar Epps, Jane Krako...",[Charles Shyer],Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,[Comedy],Paramount Pictures|Patalex Productions,"[10, 22, 2004]",5.4,2004,-46604061,10
1631,tt0315297,50000000,25195000,Twisted,"[Ashley Judd, Samuel L. Jackson, Andy GarcÃ­a,...",[Philip Kaufman],Every murder has a mark.,Recently promoted and transferred to the homic...,97,"[Action, Adventure, Crime, Drama, Thriller]",Paramount Pictures|Kopelson Entertainment|Harl...,"[2, 27, 2004]",5.7,2004,-24805000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,"[Tom Cruise, Jeremy Renner, Simon Pegg, Paula ...",[Brad Bird],No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,"[Action, Thriller, Adventure]",Paramount Pictures|Skydance Productions|Bad Ro...,"[12, 7, 2011]",6.7,2011,549713380,12
1738,tt0418279,150000000,709709780,Transformers,"[Shia LaBeouf, Josh Duhamel, Megan Fox, Rachae...",[Michael Bay],Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,"[Adventure, Science Fiction, Action]",Paramount Pictures|DreamWorks SKG|Amblin Enter...,"[6, 27, 2007]",6.6,2007,559709780,6
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,"[Harrison Ford, Cate Blanchett, Shia LaBeouf, ...",[Steven Spielberg],The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,"[Adventure, Action]",Lucasfilm|Paramount Pictures,"[5, 21, 2008]",5.6,2008,601636033,5
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,"[Shia LaBeouf, Megan Fox, Josh Duhamel, Rainn ...",[Michael Bay],Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,"[Science Fiction, Action, Adventure]",Paramount Pictures|DreamWorks SKG|Amblin Enter...,"[6, 19, 2009]",6.0,2009,686297228,6
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,"[Shia LaBeouf, John Malkovich, Ken Jeong, Fran...",[Michael Bay],The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,"[Action, Science Fiction, Adventure]",Paramount Pictures|Di Bonaventura Pictures|Has...,"[6, 28, 2011]",6.1,2011,928746996,6

In [398]:
answers['18']  = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [434]:
res_ser = data.groupby(['release_year'])['revenue'].sum().sort_values()
res_ser[res_ser == res_ser.max()]

release_year
2015    25449202382
Name: revenue, dtype: int64

In [399]:
answers['19']  = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [435]:
warner_data = data[data['production_companies'].str.contains('Warner Bros', regex = False) == True]
warner_data.groupby(['release_year'])['profit'].sum().sort_values()

release_year
2000     452631386
2006     620170743
2015     870368348
2002    1022709901
2012    1258020056
2001    1343545668
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1855493377
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2295464519
Name: profit, dtype: int64

In [400]:
answers['20']  = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [436]:
data['release_month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [401]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [437]:
data['release_month'].value_counts()['6'] \
+data['release_month'].value_counts()['7'] \
+data['release_month'].value_counts()['8']

450

In [402]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [438]:
winter_data = data[data['release_month'].isin(['12', '1', '2'])]
expl_winter_data = winter_data.explode('director')
expl_winter_data['director'].value_counts()

Peter Jackson           7
Clint Eastwood          6
Steven Soderbergh       6
Shawn Levy              4
Adam Shankman           4
                       ..
Jonathan Levine         1
Michael Winterbottom    1
Ric Roman Waugh         1
Steven Brill            1
Ivan Reitman            1
Name: director, Length: 358, dtype: int64

In [403]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [439]:
data['title_len_symb'] = data['original_title'].apply(lambda x: len(x))
k_data = data
k_data['production_companies'] = k_data['production_companies'].str.split('|')
work_data = k_data.explode('production_companies')
work_data.groupby(['production_companies'])['title_len_symb'].mean().sort_values()

production_companies
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: title_len_symb, Length: 1771, dtype: float64

In [404]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [5]:
def word_count(string):
    pattern = re.compile('\w*\W')
    x = pattern.findall(string)
    return len(x) + 1    #Потому что такой паттерн не берет последнее слово. Как его учесть сразу, не придумал
data['overview_word_count'] = data['overview'].apply(word_count)
k_data = data
k_data['production_companies'] = k_data['production_companies'].str.split('|')
work_data = k_data.explode('production_companies')
work_data.groupby(['production_companies'])['overview_word_count'].mean().sort_values()

production_companies
Empire Pictures                           13.0
London Boulevard                          14.0
Motion Picture Corporation of America     14.0
Projection Pictures                       14.0
Phantom Four                              14.0
                                         ...
Heineken Branded Entertainment           179.0
Room 9 Entertainment                     183.0
Brookwell-McNamara Entertainment         184.0
98 MPH Productions                       189.0
Midnight Picture Show                    193.0
Name: overview_word_count, Length: 1771, dtype: float64

In [405]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [444]:
s = np.percentile(data['vote_average'], 99)
answ = data[data['vote_average'] >= s]
answ

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]",Walt Disney Pictures|Pixar Animation Studios|W...,"[6, 9, 2015]",8.0,2015,678708609,6
28,tt1895587,20000000,88346473,Spotlight,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,"[Drama, Thriller, History]",Participant Media|Open Road Films|Anonymous Co...,"[11, 6, 2015]",7.8,2015,68346473,11
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]",Element Pictures|No Trace Camping|A24|Duperele...,"[10, 16, 2015]",8.0,2015,29401758,10
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]",Paramount Pictures|Legendary Pictures|Warner B...,"[11, 5, 2014]",8.0,2014,456752480,11
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]",Marvel Studios|Moving Picture Company (MPC)|Bu...,"[7, 30, 2014]",7.9,2014,603312399,7
124,tt2245084,165000000,652105443,Big Hero 6,"[Scott Adsit, Ryan Potter, Daniel Henney, T.J....","[Don Hall, Chris Williams]",From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,"[Adventure, Family, Animation, Action, Comedy]",Walt Disney Pictures|Walt Disney Animation Stu...,"[10, 24, 2014]",7.8,2014,487105443,10
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]",Black Bear Pictures|Bristol Automotive,"[11, 14, 2014]",8.0,2014,219555708,11
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]",Twentieth Century Fox Film Corporation|Regency...,"[10, 1, 2014]",7.9,2014,308330363,10
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]",Fox Searchlight Pictures|Scott Rudin Productio...,"[2, 26, 2014]",7.9,2014,144600318,2
155,tt2980516,15000000,121201940,The Theory of Everything,"[Eddie Redmayne, Felicity Jones, Harry Lloyd, ...",[James Marsh],His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,"[Drama, Romance]",Working Title Films,"[11, 26, 2014]",7.8,2014,106201940,11
177,tt2582846,12000000,305151265,The Fault in Our Stars,"[Shailene Woodley, Ansel Elgort, Nat Wolff, La...",[Josh Boone],One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,"[Romance, Drama]",Fox 2000 Pictures|Temple Hill Entertainment|TS...,"[5, 16, 2014]",7.8,2014,293151265,5
283,tt0485947,47000000,3547209,Mr. Nobody,"[Jared Leto, Diane Kruger, Linh Äan Pháº¡m, Sa...",[Jaco Van Dormael],"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,"[Science Fiction, Drama, Romance, Fantasy]",Pan EuropÃ©enne Production|Virtual Films,"[9, 11, 2009]",7.8,2009,-43452791,9
316,tt1187043,9000000,70000000,3 Idiots,"[Aamir Khan, Kareena Kapoor, Madhavan, Sharman...",[Rajkumar Hirani],Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,"[Drama, Comedy, Romance]",Vidhu Vinod Chopra Productions,"[12, 23, 2009]",7.8,2009,61000000,12
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...",Legendary Pictures|Warner Bros.|Syncopy,"[7, 14, 2010]",7.9,2010,665500000,7
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,"[Adventure, Fantasy, Action]",WingNut Films|New Line Cinema|The Saul Zaentz ...,"[12, 18, 2001]",7.8,2001,778368364,12
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]",DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825,7
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,"[Adventure, Fantasy, Action]",WingNut Films|New Line Cinema|The Saul Zaentz ...,"[12, 18, 2002]",7.8,2002,847287400,12
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]",Bac Films|Canal+Polska|Heritage Films|Studio B...,"[9, 24, 2002]",7.9,2002,85072577,9
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]",WingNut Films|New Line Cinema,"[12, 1, 2003]",7.9,2003,1024888979,12
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]",Paramount Pictures|Appian Way|EMJAG Production...,"[12, 25, 2013]",7.9,2013,292000694,12
1188,tt1798709,23000000,47351251,Her,"[Joaquin Phoenix, Scarlett Johansson, Rooney M...",[Spike Jonze],A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,"[Romance, Science Fiction, Drama]",Annapurna Pictures,"[12, 18, 2013]",7.8,2013,24351251,12
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]",Plan B Entertainment|Regency Enterprises|River...,"[10, 18, 2013]",7.9,2013,167000000,10
1205,tt1392214,46000000,122126687,Prisoners,"[Hugh Jackman, Jake Gyllenhaal, Paul Dano, Mar...",[Denis Villeneuve],Every moment matters.,When Keller Dover's daughter and her friend go...,153,"[Drama, Thriller, Crime]",Alcon Entertainment|Madhouse Entertainment|8:3...,"[9, 18, 2013]",7.8,2013,76126687,9
1213,tt0790636,5000000,55198285,Dallas Buyers Club,"[Matthew McConaughey, Jennifer Garner, Jared L...",[Jean-Marc VallÃ©e],Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,"[Drama, History]",Universal Studios|Universal Pictures|Voltage P...,"[9, 7, 2013]",7.8,2013,50198285,9
1444,tt0482571,40000000,109676311,The Prestige,"[Hugh Jackman, Christian Bale, Michael Caine, ...",[Christopher Nolan],Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,"[Drama, Mystery, Thriller]",Touchstone Pictures|Syncopy,"[10, 19, 2006]",7.8,2006,69676311,10
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,"[Jim Carrey, Kate Winslet, Elijah Wood, Mark R...",[Michel Gondry],I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,"[Science Fiction, Drama, Romance]",Anonymous Content|This Is That Productions|Foc...,"[3, 19, 2004]",7.8,2004,52258126,3
1688,tt0469494,25000000,76181545,There Will Be Blood,"[Daniel Day-Lewis, Paul Dano, Dillon Freasier,...",[Paul Thomas Anderson],There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,[Drama],Miramax Films|Ghoulardi Film Company|Paramount...,"[12, 28, 2007]",7.8,2007,51181545,12
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]",Summit Entertainment|Newmarket Capital Group|T...,"[10, 11, 2000]",7.9,2000,30723096,10

In [406]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave '

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [6]:
#функция для сортировки актеров в единообразном порядке. Откуда-то спозаимствовано
#Нужна, чтобы не было лишних пар, а только единообразные
#Возможно, это делается через что-то иное вместо combinations, но
# раз combinations, то она мне нужна. А еще думать - пока не успеваю.
def sortByAlphabet(inputStr):    
        return inputStr[0]

    
#функция, создающая пары актеров из списка
def pairs_maker(x):
    x.sort(key=sortByAlphabet)
    x = itertools.combinations(x,2)
    return list(x)


actors_x_n_filmns = data['cast'].explode()    
actors_count = actors_x_n_filmns.value_counts()    #получаем количество фильмов, в которых снялся каждый
#искать топ пары будем среди 20% самых часто снимающихся актеров
#переводим сразу в список из серии
top_80 = actors_count[actors_count >= np.percentile(actors_count, 80)].index.tolist()    

work_data = data    # чтобы не портить исходник

#Переводим значения из списков в единичные; со списками .isin не работает
#Кстати, буду признаетелен, если расскажете, как осуществить сортировку
#по условию вхождения списков в Серии Дата фрейма в другой список.
k_data = work_data.explode('cast')

data_80_exld = k_data[k_data['cast'].isin(top_80)]    #Обрезаем наш Дф, чтобы программе легче было работать

# А теперь возвращаем значения в колонках к спискам.
# Кстати, был бы признателен за подсказку функции, которая так делает
# то есть осущствляет обратное действие функции explode
data_80 = data[data['imdb_id'].isin(data_80_exld['imdb_id'])]
data_80_pairs = data_80['cast'].apply(pairs_maker)    #Превращаем списки актеров по каждому фильму во все возможные пары
data_80_pairs_expl = data_80_pairs.explode()    #Получаем Серию, где пары актеров разделены по одной паре на строку * на N фильмов

#Считаем наконец
answer_dict = {}
for i in data_80_pairs_expl:
    if i in answer_dict:
        answer_dict[i] += 1
    else:
        answer_dict[i] = 1
        
Counter(answer_dict).most_common(4)    #Берем 4 топ пары

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6)]

In [407]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [410]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'2': '2. Gods and Generals (tt0279111)',
 '1': '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5.Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [411]:
# и убедиться что ни чего не пропустил)
len(answers)

26